<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<menu>
    <item>
        <title>Most Recent</title>
        <position>0</position>
    </item>
    <item>
        <title>Most Dedicated</title>
        <position>1</position>
    </item>
    <item>
        <title>Top 20</title>
        <position>2</position>
        <url>http://dextr.mtvnservices.com/partner/wireless/mtv/top_20/index.xml</url>
    </item>
    <item>
        <title>Just Added</title>
        <position>3</position>
        <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1590830</url>
    </item>
    <item>
        <title>MTV Picks</title>
        <position>4</position>
        <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1518072</url>
    </item>
    <item>
        <title>Best Videos by Year</title>
        <position>5</position>
        <menu>
            <item>
                <title>2011</title>
                <position>0</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1677094</url>
            </item>
            <item>
                <title>2010</title>
                <position>1</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1656776</url>
            </item>
            <item>
                <title>2009</title>
                <position>2</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1630458</url>
            </item>
            <item>
                <title>2008</title>
                <position>3</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1607749</url>
            </item>
            <item>
                <title>2007</title>
                <position>4</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1579051</url>
            </item>
            <item>
                <title>2006</title>
                <position>5</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1571033</url>
            </item>
            <item>
                <title>2005</title>
                <position>6</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1535988</url>
            </item>
            <item>
                <title>2004</title>
                <position>7</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1535985</url>
            </item>
            <item>
                <title>2003</title>
                <position>8</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1535989</url>
            </item>
            <item>
                <title>2002</title>
                <position>9</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1535981</url>
            </item>
            <item>
                <title>2001</title>
                <position>10</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1535998</url>
            </item>
            <item>
                <title>2000</title>
                <position>11</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1535972</url>
            </item>
            <item>
                <title>1999</title>
                <position>12</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1536066</url>
            </item>
            <item>
                <title>1998</title>
                <position>13</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1535964</url>
            </item>
            <item>
                <title>1997</title>
                <position>14</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1536069</url>
            </item>
            <item>
                <title>1996</title>
                <position>15</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1535956</url>
            </item>
            <item>
                <title>1995</title>
                <position>16</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1536070</url>
            </item>
            <item>
                <title>1994</title>
                <position>17</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1535950</url>
            </item>
            <item>
                <title>1993</title>
                <position>18</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1536063</url>
            </item>
            <item>
                <title>1992</title>
                <position>19</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1535943</url>
            </item>
            <item>
                <title>1991</title>
                <position>20</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1536043</url>
            </item>
            <item>
                <title>1990</title>
                <position>21</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1535942</url>
            </item>
            <item>
                <title>1989</title>
                <position>22</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1536036</url>
            </item>
            <item>
                <title>1988</title>
                <position>23</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1535931</url>
            </item>
            <item>
                <title>1987</title>
                <position>24</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1536033</url>
            </item>
            <item>
                <title>1986</title>
                <position>25</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1535930</url>
            </item>
            <item>
                <title>1985</title>
                <position>26</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1536032</url>
            </item>
            <item>
                <title>1984</title>
                <position>27</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1535833</url>
            </item>
            <item>
                <title>1983</title>
                <position>28</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1535996</url>
            </item>
            <item>
                <title>1982</title>
                <position>29</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1535819</url>
            </item>
            <item>
                <title>1981</title>
                <position>30</position>
                <url>http://lite.dextr.mtvi.com/service1/dispatch.htm?feed=1184ampstart=1amprows=20ampcontentID=1535994</url>
            </item>
        </menu>
    </item>
</menu>
</plist>
